@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sans {
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.grid-layout {
  display: grid;
  grid-template-areas:
    "worker-1 worker-2"
    "worker-3 worker-4";
  gap: 1rem;
  height: 100%;
}

.worker-1 {
  grid-area: worker-1;
  align-self: start;
  justify-self: start;
  
}

.worker-2 {
  grid-area: worker-2;
  align-self: start;
  justify-self: end;

}

.worker-3 {
  grid-area: worker-3;
  align-self: end;
  justify-self: start;
}

.worker-4 {
  grid-area: worker-4;
  align-self: end;
  justify-self: end;
}
  .worker-1,
  .worker-2,
  .worker-3,
  .worker-4 {
    align-self: center;
    justify-self: center;
    
    
  }

/* Media query for mobile view */
@media (max-width: 640px) {
  .grid-layout {
    grid-template-areas:
      "worker-1"
      "worker-2"
      "worker-3"
      "worker-4";
  }

  .worker-1,
  .worker-2,
  .worker-3,
  .worker-4 {
    align-self: center;
    justify-self: center;
  }
}
